* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


/* ХЕДЕР */

.header {
    background-color: #635854;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.navbar-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.navbar-item {
    max-width: 120px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-item.active {
    background-color: #3596F5;
}

.navbar-link {
    color: #FFFFFF;
    text-decoration: none;
}

.logo img {
    display: block;
}

.navbar-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
}

.navbar-text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

.navbar-phone {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
}


/* MAIN */

.main {
    padding-top: 54px;
    padding-bottom: 99px;
}

.home-img path {
    opacity: 0;
}

.home-img path:hover {
    opacity: 1;
    cursor: pointer;
}


/* ФУТЕР */

.footer {
    min-height: 170px;
    background-color: #D7D7D7;
}